<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tomato Leaves Disease Classifier</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #f8f9fa;
            padding-top: 50px;
        }
        .container {
            margin-top: 50px;
        }
        img {
            max-width: 100%;
            margin: 20px 0;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="my-4">Tomato Leaves Disease Classifier</h1>
        <form action="/" method="post" enctype="multipart/form-data" class="mb-4">
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" name="file" accept="image/*" required>
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <button type="submit" class="btn btn-primary">Upload and Predict</button>
        </form>
        {% if prediction %}
            <div class="alert alert-info">
                <h2>Prediction: {{ prediction }}</h2>
                <h3>Confidence: {{ confidence }}%</h3>
            </div>
            <img src="{{ user_image }}" class="img-fluid" alt="Uploaded Image">
        {% endif %}
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script>
        // Update the label of the file input with the selected file name
        $(".custom-file-input").on("change", function() {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
</body>
</html>
